@import "common";
@import "variables/colors";
@import "animation";

.ua-launcher {
  @include animation(0, 0.5s, slide-in);
  align-self: flex-end;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-radius: none;
  box-shadow: none;
  height: 60px;
  margin-top: 10px;
  cursor: pointer;
  width: 60px;
  color: none;
  &:focus {
    outline: none;
  }
}

.ua-open-launcher {
  @include animation(0, 0.5s, rotation-rl);
}

.ua-close-launcher {
  width: 20px;
  @include animation(0, 0.5s, rotation-lr);
}

@media screen and (max-width: 800px) {
  .ua-launcher {
    @include launcher-fs;
  }

  .ua-hide-sm {
    display: none;
  }
}
